/* classes */

body {
    background-color: #000000;
}

.container {
    display: inline-block;
}

.name {
    rotate: -1deg;
}
.job {
    rotate: 1.4deg;
}
.email {
    rotate: -1.2deg;
}
.insta {
    rotate: 1.7deg;
}

/* text styles */

p,
a {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #dbdbdb;
    margin: 0;
    letter-spacing: 0.0rem;
    text-decoration: none;
}

::selection {
    color: orangered;
}