/* classes */

body {
    background-color: #141414;
    padding: 0;
    margin: 0;
}

.sketchable {
    padding:  10px;
}

.container{
display:block;
width: 140px;
}

.a {
    rotate: 1.5deg;
}

.b {
    rotate: 1deg;
}

.c {
    rotate: -0.5deg;
}

h1,
p,
a {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #dbdbdb;
    margin: 0;
    letter-spacing: 0.0rem;
    text-decoration: none;
}

::selection {
    color: orangered;
}